{
  "env": {
    "browser": true,
    // added es6 since it was causing issues with the term 'const'.
    "es6": true
  },
  "rules": {
    // Override our default settings just for this directory
    "eqeqeq": "warn",
    "strict": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "no-restricted-globals": "off"
  }
}
